table {
    width: 100%;
}
th.mat-header-cell {
    text-align: center;
}
.mat-drawer.mat-drawer-side {
    width: 350px;
    padding-left: 15px;
    padding-right: 15px;
    background: #3f51b5;
}
.btn-mobily {
    margin-left: 7px;
}
.example-container {
    height: 89.9vh;
}
.example-full-width {
    width: 100%;
}
@media (max-width:680px) {
    .mat-drawer.mat-drawer-side {
        width: 100%;
        padding-left: 27px;
    }
    .btn-mobily {
        margin-left: 20px;
    }
}