<body style="background: #14094e;">
  <!-- <div class="col-md-6 offset-md-3"> -->
    <div class="container-fluid text-center">
      <div class="wrapper-body">
        <div class="col" style="padding-right: 0px;padding-left: 0px;">
          <div class="wrapper exmpl">
            <!-- <img mat-card-image src="../../../assets/TIG_background_nobar.jpg" alt="Photo of a Shiba Inu"> -->
            <div class="img"></div>
          </div>
        </div>
        <div class="body-card-auth d-flex align-items-center justify-content-center">
          <div class="card-auth align-self-center">
            <div class="alert alert-info">
              Регистрация<br />
            </div>
          <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <!-- <mat-card-title>Авторизация</mat-card-title> -->
            </mat-card-header>
    
            <mat-card-content>
              <div style="padding: 25px;">
                <div class="text-start welcom-back">
                  <h1>Давайте начнём!</h1>
                  <span>Чтобы пользоваться нашей платформой,</span>
                  <span>пожалуйста, зарегистрируйтесь</span>
                </div>
                <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                  <div class="mb-3">
                    <mat-form-field class="form-field-w" appearance="outline">
                      <mat-label>Имя пользователя</mat-label>
                      <input matInput formControlName="name" type="email">
                      <mat-error *ngIf="userForm.get('name')?.hasError('required')">Поле Имя обязательно для заполнения</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field-w" appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput formControlName="email" type="email">
                      <mat-error *ngIf="userForm.get('email')?.hasError('required')">Поле email обязательно для заполнения</mat-error>
                    </mat-form-field>

                    <mat-form-field class="form-field-w" appearance="outline">
                      <mat-label>Пароль</mat-label>
                      <input matInput formControlName="password" type="password">
                      <mat-error *ngIf="userForm.get('password')?.hasError('required')">Поле Пароль обязательно для заполнения</mat-error>
                    </mat-form-field>
                    <!-- <div *ngIf="submitted && f['email'].errors" class="alert alert-danger">
                      <div *ngIf="f['email']?.errors?.['required']">email is required</div>
                    </div> -->
                  </div>
                  <div class="mb-3">
                    <!-- <div *ngIf="submitted && f['password']?.errors" class="alert alert-danger">
                      <div *ngIf="f['password']?.errors?.['required']">Password is required</div>
                    </div>          -->
                  </div>
                  <div class="d-flex flex-column mb-3">
                    <!-- <button mat-raised-button color="primary" [disabled]="loading" class="btn btn-primary">Войти
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    </button> -->
                    <button mat-raised-button color="primary" class="btn btn-primary">Регистрация</button>
                    <button mat-raised-button class="auth"><a class="nav-link" routerLink="/">Авторизация</a></button>
                  </div>
                  <!-- <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div> -->
                </form>
              </div>
            </mat-card-content>
          </mat-card>
          </div>
        </div>
      </div>
    </div>
    
  
  <!-- </div> -->
  </body>