.wrapper {
  width: 85px;
  height: 85px;
//   border: 2px solid #979797;
}
.logo {
  overflow: hidden;
}
.logo img {
  width: auto;
  height: 100%;
  margin: 0px 0 0 0px;
}

$width: 250px;
$smoll-width: 120px;
.wrapper-navbar {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: $width;
    height: 100vh;
    background: #3c4962;
    .wrapper-navbar-decor {
        position: absolute;
        width: $width;
        height: 5px;
        bottom: 0px;
        background: #ff4081;
    }
    .link-active {
        background: #617395e8;
    }
    .wrapper-navbar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;
        width: $width;
        height: 93px;
        background: #fff;
        color: #fff;
        box-shadow: 0 4px 10px #00000010, 0 0 2px #0000000f, 0 2px 6px #0000001f;
    }
    .wrapper-navbar-footer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 225px;
        margin-left: 25px;
        .footer-nav-button {
            margin: 5px 0px 5px 0px;
            .footer-nav-button:hover {
                background: #fff3 !important;
            }
        }
        .link-max {
            width: 193px;
        }
        .footer-nav-link {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            color: #fff;
            text-decoration: none;
        }
        .ac-nav-link {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .link-icon {
            margin-right: 10px;
            margin-bottom: -3px;
            font-size: 20px;
        }
        .icon-smoll {
            margin-right: 0px;
        }
    }
    .arrow {
        position: absolute;
        bottom: 0px;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        background: none;
        border: none;
        color: #fff;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .arrow:hover {
        background: #636d81;
    }
}

.menu-animation {
    transition: all .2s ease-in-out;
}
nav {
    ::ng-deep .mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay, .mat-stroked-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
        opacity: 1 !important;
    }
    ::ng-deep .mat-button-focus-overlay {
        background: #fff3;
    }
}
.ac-container label{
    padding: 0px 15px;
    display: flex;
    position: relative;
    z-index: 20;
    height: 35px;
    cursor: pointer;
    color: #fff;
    line-height: 33px;
    align-items: center;
    border-radius: 5px;
    justify-content: flex-start;
}
.ac-container-smoll {
    height: 90px !important;
    flex-direction: column;
}
.ac-article-smoll {
    width: 120px !important;
}
.ac-container label:hover{
    background: #fff3;
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
    background: #636d81;
    color: #fff;
}

.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    right: 13px;
    top: 7px;
    // background: transparent url(http://netcribe.com/example/arrow_down.png) no-repeat center center;  
}
.ac-container input{
    display: none;
}

.ac-container article{
    background: rgb(72 86 111);
    margin-top: -3px;
    overflow: hidden;
    height: 0px;
    position: relative;
    z-index: 10;
    -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
    display: flex;
    flex-direction: column;
     -webkit-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-moz-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-o-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	-ms-transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
	transition: height 0.3s ease-in-out, box-shadow 0.6s linear;
    // box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
    width: 225px;
    height: 90px;
    align-items: center;
    border-radius: 0px 0px 0px 5px;
}

.ac-container article p{
    font-style: italic;
    color: #fff;
    line-height: 23px;
    font-size: 14px;
    padding: 20px;
}

.link-article {
    width: 195px;
}
.article-link-smoll {
    width: auto;
}

@media (max-width: 991px) {
    .desktop-nav {
        display: none !important;
    }
    .mobile-nav {
        display: flex !important;
        justify-content: space-between;
        position: absolute;
        width: 80%;
        right: 10%;
    }
}

