<nav class="wrapper-navbar menu-animation" [ngClass]="{ 'menu-min': menu.isCollapsed }">
  <div class="wrapper-navbar-container menu-animation" [ngClass]="{ 'menu-min': menu.isCollapsed }">
    <a class="navbar-brand nav-link" routerLink="/home">
      <div class="wrapper logo">
        <img src="../../assets/logo.png" alt="">
      </div>
    </a>
  </div>
  <div class="wrapper-navbar-footer menu-animation" [ngClass]="{ 'menu-min': menu.isCollapsed }">
    <button mat-button class="footer-nav-button" routerLink="/home" [routerLinkActive]="['link-active']">
      <a class="footer-nav-link link-max" [ngClass]="{ 'nav-link-smoll': menu.isCollapsed }"><mat-icon class="link-icon" [ngClass]="{ 'icon-smoll': menu.isCollapsed }">home</mat-icon>Главная</a>
    </button>
    <button mat-button *ngIf="authenticationService.isUserRole1()" class="footer-nav-button" routerLink="/lead" [routerLinkActive]="['link-active']">
      <a class="footer-nav-link link-max" [ngClass]="{ 'nav-link-smoll': menu.isCollapsed }"><mat-icon class="link-icon" [ngClass]="{ 'icon-smoll': menu.isCollapsed }">playlist_add</mat-icon>Добавить</a>
    </button>
    <button mat-button class="footer-nav-button" routerLink="/users" [routerLinkActive]="['link-active']">
      <a class="footer-nav-link link-max" [ngClass]="{ 'nav-link-smoll': menu.isCollapsed }"><mat-icon class="link-icon" [ngClass]="{ 'icon-smoll': menu.isCollapsed }">group</mat-icon>Пользователи</a>
    </button>
      <section class="ac-container">
        <div *ngIf="authenticationService.isUserRole1()">
            <input id="ac-1" name="accordion-1" type="checkbox" />
            <label for="ac-1" (click)="menu.setAccradion()" [ngClass]="{ 'ac-container-smoll': menu.isCollapsed }">
              <span class="ac-nav-link" [ngClass]="{ 'nav-link-smoll': menu.isCollapsed }"><mat-icon class="link-icon" [ngClass]="{ 'icon-smoll': menu.isCollapsed }">sticky_note_2</mat-icon>Справочники</span>
              <mat-icon *ngIf="menu.isCollapsedAcr">expand_less</mat-icon>
              <mat-icon *ngIf="!menu.isCollapsedAcr">expand_more</mat-icon>
            </label>
            <article [ngClass]="{ 'ac-article-smoll': menu.isCollapsed }">
              <button mat-button class="footer-nav-button" routerLink="/status" [routerLinkActive]="['link-active']">
                <a class="footer-nav-link link-article" [ngClass]="{ 'article-link-smoll': menu.isCollapsed }" aria-current="page"><mat-icon class="link-icon" >sort</mat-icon>Статусы</a>
              </button>
              <button mat-button class="footer-nav-button" routerLink="/category" [routerLinkActive]="['link-active']">
                <a class="footer-nav-link link-article" [ngClass]="{ 'article-link-smoll': menu.isCollapsed }" aria-current="page"><mat-icon class="link-icon">category</mat-icon>Категории</a>
              </button>
              <!-- <button mat-button class="footer-nav-button">
                <a class="footer-nav-link" aria-current="page" routerLink="/">Detail</a>
              </button> -->
            </article>
        </div>
      </section>
    <button mat-button class="footer-nav-button" [routerLinkActive]="['link-active']">
      <a class="nav-link disabled d-flex align-items-center link-max" aria-disabled="true" [ngClass]="{ 'nav-link-smoll': menu.isCollapsed,'full-link-smoll': menu.isFull }">
        <mat-icon class="link-icon" [ngClass]="{ 'icon-smoll': menu.isCollapsed }">flash_off</mat-icon>Disabled
      </a>
    </button>
    <!-- <button mat-button class="footer-nav-button" routerLink="/users">
      <a class="footer-nav-link">Task list</a>
    </button> -->
  </div>
  <section class="ac-container">
    <button class="arrow" #btn_1 (click)="menu.setWidthMin()">
      <mat-icon *ngIf="!menu.isCollapsed">keyboard_arrow_left</mat-icon>
      <mat-icon *ngIf="menu.isCollapsed">keyboard_arrow_right</mat-icon>
    </button>
  </section>
  <div class="wrapper-navbar-decor menu-animation" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }"></div>
</nav>