<div class="container-fluid" style="padding-left: 0px;">
  <div class="row">
    <app-header class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }"></app-header>
      <div class="col wrapper">
        <app-tools></app-tools>
        <div class="wrapper-content">
          <form [formGroup]="leadForm" class="example-form">
            <div class="col">
              <mat-form-field class="form-field-w" appearance="fill">
                <mat-label>Наименование</mat-label>
                <input matInput formControlName="link">
                <mat-error *ngIf="leadForm.get('link')?.hasError('required')">Обязательное поле</mat-error>
              </mat-form-field>
            </div>
            <div class="row">
              
                <mat-form-field class="form-field-w" appearance="fill">
                  <mat-label>Категория</mat-label>
                  <mat-select formControlName="category_id">
                    <mat-option value="0">Категория</mat-option>
                    <mat-option *ngFor="let item of categories" [value]="item.id">{{item.name}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="leadForm.get('category_id')?.hasError('required')">Обязательное поле</mat-error>
                </mat-form-field>
              
                <mat-form-field class="form-field-w" appearance="fill">
                  <mat-label>Статус</mat-label>
                  <mat-select formControlName="status_id">
                    <mat-option value="0">Статус</mat-option>
                    <mat-option *ngFor="let item of statuses" [value]="item.id">{{item.title}}</mat-option>
                  </mat-select>
                  <mat-error *ngIf="leadForm.get('status_id')?.hasError('required')">Обязательное поле</mat-error>
                </mat-form-field>

            </div>
            <div class="col">
              <mat-form-field class="form-textarea-w" appearance="fill">
                <mat-label>Комментарий</mat-label>
                <textarea matInput formControlName="comment" placeholder="Ex. It makes me feel..."></textarea>
              </mat-form-field>
            </div>
            <div class="row">
              <section class="d-flex justify-content-between">
                <p class="mode"><mat-checkbox formControlName="is_express_delivery" class="example-margin">Услуги доставки</mat-checkbox></p>
                <button mat-raised-button color="primary" (click)="createLead()" *ngIf="!getId" [disabled]="!leadForm.valid">Добавить</button>
                <button mat-raised-button color="primary" (click)="updateValueForm()" *ngIf="getId" [disabled]="!leadForm.valid">Сохранить</button>
              </section>
            </div>
          </form>
        </div>
      </div>
  </div>
</div>