<div class="container-fluid" style="padding-left: 0px;">
  <div class="row">
    <app-header class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }"></app-header>

    <div class="col wrapper">
      <app-tools></app-tools>

      <div class="col wrapper-content">
        <div class="row row-cols-12 media-creen-row">
          <div class="col media-creen-block" style="margin-bottom: 15px;">

            <mat-card class="example-card">
              <mat-card-subtitle>
                <div class="d-flex justify-content-between">
                  <div>
                    Статус: {{ dataSource?.status?.title }}
                  </div>
                  <div>
                    Категория: {{ dataSource?.category?.name }}
                  </div>
                </div>
              </mat-card-subtitle>
              <mat-card-title>{{ dataSource?.link }}</mat-card-title>
              <mat-card-content>
                <section>
                  <mat-list *ngFor="let item of array">
                    <mat-list-item>
                      <div class="d-flex align-items-center">
                        <div class="mode">{{ item.title }}: {{ item.description }}</div>
                        <div class="button-list">
                          <button mat-button color="primary" [matMenuTriggerFor]="menu">
                            <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu">menu</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu">
                            <button mat-menu-item (click)="delLeadParam(item.id)">
                              <mat-icon aria-hidden="false" aria-label="Example delete_sweep icon" fontIcon="delete_sweep">delete_sweep</mat-icon>Удалить 
                            </button>
                          </mat-menu>
                        </div>
                      </div>
                    </mat-list-item>
                    <mat-divider inset></mat-divider>
                  </mat-list>
                </section>
              </mat-card-content>

              <!-- <mat-card-actions>
                <button mat-button (click)="onSubmit()">Добавить параметр</button>
              </mat-card-actions> -->

              <mat-card-footer>
                <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
              </mat-card-footer>
            </mat-card>

            <mat-accordion>
              <mat-expansion-panel style="margin-top: 15px;">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Добавить параметр
                  </mat-panel-title>

                </mat-expansion-panel-header>
                
                <form [formGroup]="paramForm" class="example-form">
                  <div class="row">
                    <mat-form-field appearance="fill">
                      <mat-label>Параметры</mat-label>
                      <mat-select formControlName="param_id">
                        <mat-option *ngFor="let element of filter" [value]="element.id">{{element.title}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col">
                    <button mat-raised-button color="primary" (click)="createLeadParam()" [disabled]="!paramForm.valid">Добавить</button>
                  </div>
                </form>

              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>