::ng-deep .green-bar{
    background: #e4f8f0;
    color: #1ea97c;
    border-left: 4px solid #1ea97c;
    margin: 0 !important;
    position: absolute;
    right: 25px;
    bottom: 25px;
 }
 ::ng-deep .red-bar{
    background: #ffe7e6;
    color: #ff5757;
    border-left: 4px solid #ff5757;
    margin: 0 !important;
    position: absolute;
    right: 25px;
    bottom: 25px;
 }
 @media (max-width:680px) {
   ::ng-deep .red-bar{
      right: 0px;
      bottom: 0px;
   }
   ::ng-deep .green-bar{
      right: 0px;
      bottom: 0px;
   }
 }