.form-field-w {
    width: 100%;
}
body {
    background: #3f51b5;
}
.auth {
    margin-top: 10px;
}
.img {
    background: url('../../../assets/colorful-website-hosting-concept_23-2149525689.jpg');
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    height: 100vh;
}

body > div > mat-card {
    padding-left: 0px;
    padding-right: 0px;
}

.alert {
    --bs-alert-color: #fff;
    --bs-alert-bg: #3f51b5;
    --bs-alert-border-color: #0d6efd;
    --bs-alert-link-color: #fff;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.btn-primary {
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.welcom-back {
    padding-bottom: 50px;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2),0px 0px 0px 0px rgba(0, 0, 0, 0.14),0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.container-fluid{
    padding: 0px;
    .wrapper-body {
        display: flex;
    }
    .body-card-auth {
        width: 40vw;
        .card-auth {
            width: 25vw;
        }
    }
}

@media (max-width:680px) {
    .wrapper-body {
      display: flex;
      flex-direction: column;
        .body-card-auth {
            width: 100%;
            .card-auth {
                width: 100%;
            }
        }
    }
    .img {
        background-position-y: center;
        height: 10vh;
    }
    .alert {
        border-radius: 0px;
    }
  }
  @media (min-width:681px) and (max-width: 1028px) {
    .wrapper-body {
      display: flex;
        .body-card-auth {
            width: 50vw;
            .card-auth {
                width: 40vw;
            }
        }
    }
    .img {
        background-position-y: center;
        height: 100vh;
    }
  }
.google-signin-container {
    width: 100%; /* Задайте ширину контейнера */
    display: flex; /* Используйте flex для центрирования */
}

#google-signin-button {
    flex: 1; /* Позволяет кнопке занимать всю ширину */
    height: 50px; /* Вы можете установить желаемую высоту */
    /* Добавьте дополнительные стили, если нужно */
}