<div class="container-fluid" style="padding-left: 0px;">
  <div class="row">
    <app-header class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }"></app-header>
      <div class="col wrapper">
        <app-tools></app-tools>
        <mat-drawer-container class="example-container" autosize>
  
          <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
            <div class="text-end">
              <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
              <div class="d-flex" style="padding-top: 10px;">
                <div class="col text-start">
                  <h2 style="color: #fff !important;">{{ section === 'level-1' ? 'Редактировать' : 'Подбронее' }}</h2>
                </div>
                <div class="col">
                  <button (click)="drawer.toggle()" mat-raised-button>
                    <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close">close</mat-icon>
                  </button>
                </div>
              </div>
              <div class="col" *ngIf="section == 'level-1'">
                <form [formGroup]="userForm" class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: #fff;">Имя пользователя</mat-label>
                    <input matInput formControlName="name" style="color: #fff !important;" placeholder="Ex. Pizza">
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: #fff;">Email</mat-label>
                    <input matInput formControlName="email" style="color: #fff !important;" placeholder="Ex. Pizza">
                  </mat-form-field>

                  <mat-form-field class="example-full-width status-select" appearance="fill">
                    <mat-label style="color: #fff;">Статус</mat-label>
                    <mat-select formControlName="role_id">
                      <mat-option value="0">Статус</mat-option>
                      <mat-option *ngFor="let item of roles" [value]="item.id">{{ item.status }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <button mat-raised-button (click)="delValue(item);" color="warn" style="margin-right: 5px;">Удалить</button>
                  <button mat-raised-button (click)="saveValue()">Сохранить</button>
                    <!-- <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close">download_done</mat-icon> -->
                  
                </form>
              </div>
              <div class="col" *ngIf="section == 'level-2'">

              </div>
            </div>
          </mat-drawer>
          
        <table mat-table [dataSource]="dataSource">
        
          <ng-container matColumnDef="position">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> No. </th>
            <td mat-cell *matCellDef="let i = index"> {{i+1}} </td>
          </ng-container>
        
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Имя пользователя </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>
        
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
          </ng-container>
        
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Статус </th>
            <td mat-cell *matCellDef="let element"> {{element.role.status}} </td>
          </ng-container>
        
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center;"> Действия </th>
            <td mat-cell *matCellDef="let element"> 
              <button mat-button color="primary" [matMenuTriggerFor]="menu">
                <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu">menu</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="setValue(element);drawer.toggle()" *ngIf="authenticationService.isUserRole1()">
                  <mat-icon aria-hidden="false" aria-label="Example edit_note icon" fontIcon="edit_note">edit_note</mat-icon>Редактирвовать
                </button>
                <button mat-menu-item (click)="showDetails();drawer.toggle()">
                  <mat-icon aria-hidden="false" aria-label="Example read_more icon" fontIcon="read_more">read_more</mat-icon>Подробнее
                </button>
                <!-- [disabled]="authenticationService.isName()" [ngClass]="{'disabled-action': authenticationService.isName()}" -->
                <button mat-menu-item (click)="delValue(element);" *ngIf="authenticationService.isUserRole1()">
                  <mat-icon aria-hidden="false" aria-label="Example delete_sweep icon" fontIcon="delete_sweep">delete_sweep</mat-icon>Удалить
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        
          <!-- <div class="example-sidenav-content">
            <button type="button" mat-button (click)="drawer.toggle()">
              Toggle sidenav
            </button>
          </div> -->
        
        </mat-drawer-container>
      </div>
  </div>
</div>
