table {
    width: 100%;
}
.mat-drawer.mat-drawer-side {
    width: 350px;
    padding-left: 15px;
    padding-right: 15px;
    background: #3f51b5;
}
.example-container {
    height: 95vh;
}
.example-full-width {
    width: 100%;
}
::ng-deep .status-select .mat-select-value{    
    color: white!important; 
}
.disabled-action {
    color: rgb(108, 117, 125) !important;
}
@media (max-width:680px) {
    .mat-drawer.mat-drawer-side {
        width: 100%;
        padding-left: 27px;
    }
}