:root[theme=dark] {
    /** body */
    --theme-body-background: #222;
    /** mat-card */
    --theme-card-background:#1e1e1e;
    --theme-card-color: #c1c1c1;
    --theme-divider-color: #3b3b3b;
    /** header */
    --theme-navbar-color: #fff;
    --theme-link-color: #677da7;
    --theme-header-background: #1e1e1e;
    --theme-tools-background: #292a2b;
    --theme-text-disabled-color: #4b4b4b;
    /** mat-manu */
    --theme-menu-background: #222;
    --theme-item-color: #fff;
    --theme-submenu-color: #3f51b5;

    --theme-table-background: #222;
    --theme-cell-color: #fff;
    --theme-header-color: #fff;

    --theme-drawer-background: #222;

    --theme-paginator-background: #1e1e1e;
    --theme-paginator-color: #fff;

    --theme-h2-color: #fff;
    --theme-text-color: #fff;
    --theme-select-arrow-color: rgb(255 255 255 / 42%);
    --theme-appearance-legacy-color: rgb(255 255 255 / 42%);
    --theme-button-disabled-color: rgb(255 255 255 / 42%);

    --theme-checkbox-frame-color: #ffffff;

    --theme-header-title-color: rgb(255 255 255 / 87%);
    --theme-header-description-color: rgb(255 255 255 / 54%);
    --theme-expansion-panel-background: #1e1e1e;
    --theme-expansion-panel-color: rgb(255 255 255 / 87%);

    --theme-select-panel-background: #1e1e1e;;
}