:root {
    /** body */
    --theme-body-background: #fcfcfc;
    /** mat-card */
    --theme-card-background:#fff;
    --theme-card-color: #3b3b3b;
    --theme-divider-color: #cecece;
    /** header */
    --theme-navbar-color: #3b3b3b;
    --theme-link-color: #677da7;
    --theme-header-background: #eaeaea;
    --theme-tools-background: #bfc8d1;
    --theme-text-disabled-color: #c1c1c1;
    /** mat-manu */
    --theme-menu-background: #fff;
    --theme-item-color: #222;

    --theme-text-color: #000;
    --theme-select-arrow-color: rgba(0, 0, 0, 0.42);
    --theme-appearance-legacy-color: rgba(0, 0, 0, 0.42);
    --theme-button-disabled-color: rgba(0, 0, 0, 0.42);

    --theme-select-panel-background: #eaeaea;
    --theme-h2-color: gba(0, 0, 0, 0.42);
}