/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

/* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';
@import "../node_modules/bootstrap/scss/bootstrap";
@import './assets/dark';
@import './assets/default';
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background: var(--theme-body-background) !important;
    transition: all ease-in-out 400ms;
}
h2 {
    color: var(--theme-h2-color) !important;
}

.wrapper {
    padding: 0px;
    .wrapper-subcontent {
        padding-top: 15px;
        padding-left: 27px;
        padding-right: 15px;

    }
    .wrapper-content {
        padding-top: 15px;
        padding-left: 27px;
        padding-right: 15px;
    }
}

.nav-link-smoll {
    flex-direction: column;
    width: 90px !important;
}
.menu-min {
    width: 130px !important;
    margin-left: 0px !important;
    align-items: center !important;
}
.menu-max {
    width: 262px;
    transition: all 0.2s ease-in-out;
}
.backgraund-tools {
    background: var(--theme-tools-background) !important;
    padding-top: 5px;
}
.mode {
    color: var(--theme-text-color) !important;
}
.mat-select-arrow {
    color: var(--theme-select-arrow-color) !important;
}
.mat-select-value {
    color: var(--theme-text-color) !important;
}
.mat-select-panel {
    background: var(--theme-select-panel-background) !important;
    .mat-option.mat-active {
        color: var(--theme-text-color) !important;
    }
    .mat-option {
        color: var(--theme-text-color) !important;
    }
}
.mat-form-field-label {
    color: var(--theme-text-color) !important;
}
.mat-input-element {
    color: var(--theme-text-color) !important;
}
.mat-checkbox-frame {
    border-color: var(--theme-checkbox-frame-color) !important;
}
// .mat-checkbox-layout .mat-checkbox-label {
//     color: var(--theme-checkbox-text-color) !important;
// }
.mat-table {
    background: var(--theme-table-background) !important;
    .mat-cell, .mat-footer-cell{
        color: var(--theme-cell-color) !important;
    }
    .mat-header-cell {
        color: var(--theme-header-color) !important;
    }
}
.mat-paginator {
    background: var(--theme-paginator-background) !important;
    color: var(--theme-paginator-color) !important;
    .mat-select-value {
        color: var(--theme-text-color) !important;
    }
    .mat-select-arrow {
        color: var(--theme-select-arrow-color) !important;
    }
    .mat-form-field-appearance-legacy .mat-form-field-underline {
        background: var(--theme-appearance-legacy-color) !important;
    }
    .mat-icon-button.mat-button-disabled.mat-button-disabled {
        color: var(--theme-button-disabled-color) !important;
    }
}
.mat-drawer-container {
    background: var(--theme-drawer-background) !important;
}
.mat-card {
    background: var(--theme-card-background) !important;
    color: var(--theme-card-color) !important;
    .mat-card-subtitle {
        color: var(--theme-card-color) !important;
    }
    .mat-divider {
        border-top-color: var(--theme-divider-color) !important;
    }
}
.mat-menu-panel {
    background: var(--theme-menu-background) !important;
    .mat-menu-item {
      color: var(--theme-item-color) !important;
    }
    .mat-menu-item .mat-icon-no-color,
    .mat-menu-submenu-icon {
        color: var(--theme-submenu-color) !important;
    }
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--theme-navbar-color) !important;
}
.nav-link {
    color: var(--theme-link-color) !important;
    font-family: "Play", sans-serif;
    font-weight: 700;
    font-style: normal;
}
.bg-body-tertiary {
    background: var(--theme-header-background) !important;
    transition: all ease-in-out 400ms;
}
.mat-expansion-panel {
    background: var(--theme-expansion-panel-background) !important;;
    color: var(--theme-expansion-panel-color) !important;;
    .mat-expansion-panel-header-title {
        color: var(--theme-header-title-color) !important;;
    }
    .mat-expansion-panel-header-description, .mat-expansion-indicator::after {
        color: var(--theme-header-description-color) !important;;
    }
}
@media (max-width:680px) {
    .media-creen-row {
      display: flex;
      flex-direction: column;
      .media-creen-block {
        width: 100%;
      }
    }
    .menu-max {
      display: none;
    }
}