<section  class="wrapper">
  <div class="wrapper-menu">
    <div class="menu-item">
      <button mat-stroked-button class="upload icon-controll" type="button" aria-controls="addScrolling" (click)="fileInput.click()">
        <span class="d-flex align-items-center">
          <span class="display-icon">
            Загрузить лиды (xlsx)
          </span>
          <mat-icon>upload_file</mat-icon>
        </span>
      </button>
      <input type="file" #fileInput (change)="onFileSelected($event)" accept=".xlsx" style="display: none;"/>
    </div>
    <div class="menu-item">
      <button mat-button [matMenuTriggerFor]="menu" class="nav-link">{{ authenticationService.isName() }}</button>
      <button mat-button class="nav-mobile-menu" (click)="isOpen()"><mat-icon>menu_open</mat-icon></button>
      <nav class="nav-mobile" [ngClass]="{ 'nav-mobile-show': mobileMenu }">
        <button mat-button class="footer-nav-button" routerLink="/home" [routerLinkActive]="['link-active']">
          <a class="mobile-button"><mat-icon class="link-icon">home</mat-icon>Главная</a>
        </button><hr class="mat-driver">
        <button mat-button *ngIf="authenticationService.isUserRole1()" class="footer-nav-button" routerLink="/lead" [routerLinkActive]="['link-active']">
          <a class="mobile-button"><mat-icon class="link-icon">playlist_add</mat-icon>Добавить</a>
        </button><hr class="mat-driver">
        <button mat-button class="footer-nav-button" routerLink="/users" [routerLinkActive]="['link-active']">
          <a class="mobile-button"><mat-icon class="link-icon">group</mat-icon>Пользователи</a>
        </button><hr class="mat-driver">
        <button mat-button class="footer-nav-button" routerLink="/status" [routerLinkActive]="['link-active']">
          <a class="mobile-button" aria-current="page"><mat-icon class="link-icon" >sort</mat-icon>Статусы</a>
        </button><hr class="mat-driver">
        <button mat-button class="footer-nav-button" routerLink="/category" [routerLinkActive]="['link-active']">
          <a class="mobile-button" aria-current="page"><mat-icon class="link-icon">category</mat-icon>Категории</a>
        </button><hr class="mat-driver">
        <button mat-button class="footer-nav-button" [routerLinkActive]="['link-active']">
          <a class="nav-link disabled d-flex align-items-center link-max" aria-disabled="true">
            <mat-icon class="link-icon">flash_off</mat-icon>Disabled
          </a>
        </button>
      </nav>
      <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <div class="toggle">
              <mat-slide-toggle name="dark" [(ngModel)]="dark">
                <mat-icon *ngIf="!dark" class="mode" style="margin-left: 6px;">dark_mode</mat-icon>
                <mat-icon *ngIf="dark" class="mode" style="margin-left: 6px;">light_mode</mat-icon>
              </mat-slide-toggle>
            </div>
          </button>
          <button mat-menu-item>
            <a class="nav-link" routerLink="/" (click)="logout()">
              <mat-icon class="mode">logout</mat-icon>Выход</a>
          </button>
      </mat-menu>
    </div>
  </div>
</section>