.wrapper {
    background: var(--theme-body-background) !important;
    height: auto;
    padding-bottom: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.062745098), 0 0 2px rgba(0, 0, 0, 0.0588235294), 0 2px 6px rgba(0, 0, 0, 0.1215686275);
    .wrapper-menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-right: 15px;
        .menu-item {
            padding-top: 5px;
            padding-left: 5px;
            padding-right: 5px;
        }
        .upload {
            color: #677da7;
        }
    }
}
.toggle {
    display: flex;
    padding: 12px 0px;
}
.mat-driver {
    color: #b6bdc840;
    width: 95%;
    opacity: 1;
}
.nav-mobile-menu {
    display: none;
}
.nav-mobile {
    display: none;
}
@media (max-width:680px) {
    .nav-mobile-menu {
        color: #677da7;
        display: inline-block;
    }
    .mobile-button {
        color: #fff;
        text-decoration: none;
        display: flex;
        align-items: center;
        .link-icon {
            margin-right: 10px;
        }
    }
    .nav-mobile {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        left: 0;
        z-index: 9999;
        background: #617395;
        width: 100%;
        height: 0vh;
        overflow: hidden;
        transition: height 0.3s ease-in-out;
    }
    .nav-mobile-show {
        height: 100vh;
        padding-top: 25px;
        padding-bottom: 25px;
        margin-top: 5px;
    }
    .display-icon {
        display: none;
    }
    .icon-controll {
        padding-top: 5px;
        padding-bottom: 5px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
    }
}