<div class="container-fluid" style="padding-left: 0px;">
  <div class="row">
    <app-header class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }"></app-header>

    <div class="col wrapper">
      <app-tools></app-tools>
          <section class="example-section wrapper-subcontent">
            <section class="example-section">
              <mat-chip-list aria-label="Fish selection">
                <mat-chip style="background: #f44336;" selected>
                  <mat-checkbox 
                  class="example-margin" 
                  (change)="toggleFilter('новый')"
                  color="warn"
                  >Новый</mat-checkbox>
                </mat-chip>
                <mat-chip style="background: #3f51b5;" selected>
                  <mat-checkbox 
                  class="example-margin" 
                  (change)="toggleFilter('обработка')"
                  color="primary"
                  >
                  Обработка</mat-checkbox>
                </mat-chip>
                <mat-chip style="background: #ff4081;" selected>
                  <mat-checkbox 
                  class="example-margin" 
                  (change)="toggleFilter('завершён')"
                  color="accent"
                  >Завершён</mat-checkbox>
                </mat-chip>
              </mat-chip-list>
            </section>
          </section>
          <div class="col wrapper-content">
            <div class="row row-cols-3 media-creen-row">
              <div class="col media-creen-block" *ngFor="let item of filteredLeads" style="margin-bottom: 15px;">
                <mat-card class="example-card">
                  <mat-card-subtitle>
                    <div class="row">
                      <div class="col d-flex align-items-center text-start">
                        Статус: {{ item.status?.title }}
                      </div>
                      <div class="col text-end">
                        <button mat-button color="primary" [matMenuTriggerFor]="menu" *ngIf="authenticationService.isUserRole1()">
                          <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu">menu</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                          <!-- <button mat-menu-item (click)="addParam(item.id)">
                            <mat-icon aria-hidden="false" aria-label="Example edit_note icon" fontIcon="edit_note">post_add</mat-icon>Добавить параметры
                          </button> -->
                          <button mat-menu-item (click)="onEdit(item.id)">
                            <mat-icon aria-hidden="false" aria-label="Example edit_note icon" fontIcon="edit_note">edit_note</mat-icon>Редактирвовать
                          </button>
                          <button mat-menu-item (click)="delLeadList(item)">
                            <mat-icon aria-hidden="false" aria-label="Example delete_sweep icon" fontIcon="delete_sweep">delete_sweep</mat-icon>Удалить
                          </button>
                        </mat-menu>
                      </div>
                    </div>
                  </mat-card-subtitle>
                  <mat-card-title>{{ item.link }}</mat-card-title>
                  <mat-card-content>
                    <p>Категория: {{ item.category?.name }}</p>
                  </mat-card-content>
                  <mat-divider inset></mat-divider>
                  <mat-card-actions>
                    <button mat-button (click)="onSubmit(item.id)">Подробнее</button>
                  </mat-card-actions>
                  <mat-card-footer> 
          
                  </mat-card-footer>
                </mat-card>
              </div>
            </div>
          </div>
        
    </div>
  </div>
</div>
