<div class="container-fluid" style="padding-left: 0px;">
  <div class="row">
    <app-header class="menu-max" [ngClass]="{ 'menu-min': menu.isCollapsed,'full-menu-min': menu.isFull }"></app-header>
      <div class="col wrapper">
        <app-tools></app-tools>
        <section class="d-flex justify-content-between backgraund-tools">
          <div class="col text-start">
            <button mat-raised-button color="primary" matTooltip="Добавить запись" class="btn-mobily" (click)="drawer.toggle()"><mat-icon>assignment_add</mat-icon></button>
          </div>
          <div class="col"><h2 style="margin: 5px;">Таблица параметров</h2></div>
        </section>
        <mat-drawer-container class="example-container" autosize>
          <mat-drawer #drawer class="example-sidenav" mode="side" position="end">
            <div class="text-end">
              <div class="d-flex" style="padding-top: 10px;">
                <div class="col text-start">
                  <h2 style="color: #fff !important;">Добавить</h2>
                </div>
                <div class="col">
                  <button (click)="drawer.toggle()" mat-raised-button>
                    <mat-icon aria-hidden="false" aria-label="Example close icon" fontIcon="close">close</mat-icon>
                  </button>
                </div>
              </div>
              <div class="col">
                <form [formGroup]="parametrForm" class="example-form">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: #fff;">Наименование</mat-label>
                    <input matInput style="color: #fff;" formControlName="title" placeholder="Ex. Pizza">
                    <mat-error *ngIf="parametrForm.get('title')?.hasError('required')">Обязательное поле</mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: #fff;">Параметр</mat-label>
                    <input matInput style="color: #fff;" formControlName="description" placeholder="Ex. Pizza">
                    <mat-error *ngIf="parametrForm.get('description')?.hasError('required')">Обязательное поле</mat-error>
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: #fff;">Код продукта</mat-label>
                    <input matInput style="color: #fff;" formControlName="code_product" placeholder="Ex. Pizza">
                    <!-- <mat-error *ngIf="parametrForm.get('code_product')?.hasError('required')">Обязательное поле</mat-error> -->
                  </mat-form-field>

                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label style="color: #fff;">Код производителя</mat-label>
                    <input matInput style="color: #fff;" formControlName="code_manufacturer" placeholder="Ex. Pizza">
                    <!-- <mat-error *ngIf="parametrForm.get('code_product')?.hasError('required')">Обязательное поле</mat-error> -->
                  </mat-form-field>

                  <button mat-raised-button (click)="createParametr()" [disabled]="!parametrForm.valid">Добавить</button>
                </form>
              </div>
            </div>
          </mat-drawer>
          <div style="padding: 15px;">
              
          <table mat-table [dataSource]="dataSource">          
            <ng-container matColumnDef="number">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element; let i = index"> {{i+1}} </td>
            </ng-container>
        
            <ng-container matColumnDef="title">
              <th mat-header-cell *matHeaderCellDef> title </th>
              <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>
        
            <ng-container matColumnDef="code_product">
              <th mat-header-cell *matHeaderCellDef> code_product </th>
              <td mat-cell *matCellDef="let element"> {{element.code_product}} </td>
            </ng-container>

            <ng-container matColumnDef="code_manufacturer">
              <th mat-header-cell *matHeaderCellDef> code_manufacturer </th>
              <td mat-cell *matCellDef="let element"> {{element.code_manufacturer}} </td>
            </ng-container>

            <ng-container matColumnDef="description">
              <th mat-header-cell *matHeaderCellDef> description </th>
              <td mat-cell *matCellDef="let element"> {{element.description}} </td>
            </ng-container>

            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> action </th>
              <td mat-cell *matCellDef="let element"> 
                <button mat-button color="primary" [matMenuTriggerFor]="menu">
                  <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon="menu">menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <button mat-menu-item (click)="delParametr(element);">
                    <mat-icon aria-hidden="false" aria-label="Example delete_sweep icon" fontIcon="delete_sweep">delete_sweep</mat-icon>Удалить
                  </button>
                </mat-menu>
              </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                        showFirstLastButtons 
                        aria-label="Select page of periodic elements">
          </mat-paginator>
        </div>
      </mat-drawer-container>
    </div>
  </div>
</div>